{% extends "base.html" %}

{% block title %}
Inventar
{% endblock %}

{% block header_title %}
Inventar
{% endblock %}

{% block header_description %}
Globale Inventarverwaltung
{% endblock %}

{% block content %}
{% load django_tables2 %}
<div class="mb-8">
    <div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors">
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4">
            <div>
                <h2 class="text-xl font-bold">Aktionen</h2>
                <p class="text-slate-400 text-sm mt-1">Inventarartikel hinzufügen</p>
            </div>

            <div class="flex flex-col sm:flex-row gap-2">
                <a href="{% url 'inventory_global:add' %}" class="btn btn-add">+ Artikel</a>
            </div>
            
        </div>
    </div>
</div>


<div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors">

    <div class="mb-6">
        <h2 class="text-xl font-bold">Inventarliste</h2>
        <p class="text-slate-400 text-sm mt-1">Gelagerte und verfügbare Artikel</p>
    </div>

    <div class="overflow-x-auto rounded-xl">
        {% render_table table %}
    </div>
</div>

{% endblock %}