{% extends "base.html" %}

{% block title %}
Rechnungswesen - Kunden
{% endblock %}

{% block header_title %}
Kunden
{% endblock %}

{% block header_description %}
Kundenstammdaten verwalten
{% endblock %}

{% block content %}
{% load django_tables2 %}
<div class="mb-8">
    <div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors">
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4">
            <div>
                <h2 class="text-lg font-bold">Aktionen</h2>
                <p class="text-slate-400 text-sm mt-1">
                    Kunden anlegen
                </p>
            </div>
            <div class="flex flex-col sm:flex-row gap-2">
                <a href="{% url 'invoices:customers_add' %}"
                class="btn btn-add">
                    + Kunde
                </a>
            </div>
        </div>
    </div>
</div>

<div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors mb-8">

    <div class="mb-6">
        <h2 class="text-lg font-bold">Kundenliste</h2>
        <p class="text-slate-400 text-sm mt-1">Alle Kunden, inkl. Standorte und Ansprechpartner</p>
    </div>

    <div class="overflow-x-auto rounded-xl">
        {% render_table table %}
    </div>
</div>


<div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors">

    <div class="mb-6">
        <h2 class="text-lg font-bold">Archivierte Kunden</h2>
        <p class="text-slate-400 text-sm mt-1">Alle inaktiven Kunden, inkl. Standorte und Ansprechpartner</p>
    </div>

    <div class="overflow-x-auto rounded-xl">

       {% render_table table_archived %}
    </div>
</div>

{% endblock %}