{% extends "base.html" %}

{% block title %}
{{ project.name }} - Inventar
{% endblock %}

{% block header_title %}
Pack-/Einkaufsliste
{% endblock %}

{% block header_description %}
Vorhandenen & benötigtes Material
{% endblock %}

{% block content %}
{% load django_tables2 %}
<div class="mb-8">
    <div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors">
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4">
            <div>
                <h2 class="text-lg font-bold">Aktionen</h2>
                <p class="text-slate-400 text-sm mt-1">Artikel zur Packliste oder Einkaufsliste hinzufügen</p>
            </div>

            <div class="flex flex-col sm:flex-row gap-2">
                <a href="{% url 'inventory:add' project.id %}" class="btn btn-add">+ Packliste</a>
                <a href="{% url 'inventory:shopping_add' project.id %}" class="btn btn-add">+ Einkaufsliste</a>
            </div>
            
        </div>
    </div>
</div>

<div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors">

    <div class="mb-6">
        <h2 class="text-lg font-bold">Packliste</h2>
        <p class="text-slate-400 text-sm mt-1">Vorhandene und benötigte Artikel</p>
    </div>

    <div class="overflow-x-auto rounded-xl">
        {% render_table table %}
    </div>

</div>





<div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors mt-8">

    <div class="flex flex-wrap justify-between items-center mb-6">

        <div>
            <h2 class="text-lg font-bold">
                Einkaufsliste
            </h2>

            <p class="text-slate-400 text-sm mt-1">
                Nicht-Vorhandene und benötigte Artikel
            </p>
        </div>
    </div>

    <div class="overflow-x-auto rounded-xl">
        <form id="bulk-shopping-form" method="post" action="{% url 'inventory:shopping_to_expense' project.id %}" class="rounded-xl">
            {% csrf_token %}
            <button type="submit" class="btn btn-action mb-2">
                Zu Ausgabe konvertieren
            </button>
        </form>
        {% render_table shopping_table %}
    </div>

</div>
{% endblock %}