{% extends "base.html" %}

{% block title %}
Einstellungen
{% endblock %}


{% block header_title %}
{{ title }} hinzufügen
{% endblock %}

{% block header_description %}
Einstellungen der App und Module bearbeiten
{% endblock %}

{% block content %}


<div class="p-6 rounded-xl shadow bg-white dark:bg-slate-800 text-slate-900 dark:text-white transition-colors">

<form method="post" class="space-y-4">

{% csrf_token %}


{{ form.as_p }}


<button
class="btn btn-save">

Speichern

</button>


</form>


</div>


{% endblock %}